# Server settings
listen_host = "127.0.0.1"     # IP to listen on
listen_port = 25565           # Port to listen on

# Client settings
connect_host = "example.com"  # IP to connect to
connect_port = 25565          # Port to connect to
display_name = "minebnc"      # Display name to load

# General settings
protocol_version = 340        # Protocol version to use
scrollback_limit = 100        # Maximum number of chat messages to replay
log_level = "INFO"